@model List<demoEFapp.Models.Teacher>

<div class="page-container">

    <div class="header">
        <h1>Teachers List</h1>
        <a asp-action="Create" class="btn-add">Add Teacher</a>
    </div>

    <table class="student-table">
        <thead>
            <tr>
                <th>Teacher Name</th>
                <th>Teacher Age</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var t in Model)
                {
                    <tr>
                        <td>@t.TeacherName</td>
                        <td>@t.TeacherAge</td>
                        <td>
                            @if (User.IsInRole("Admin"))
                            {
                                <form asp-action="Delete" method="post" style="display:inline;"
                                onsubmit="return confirm('Are you sure you want to delete this Teacher?');">

                                    <input type="hidden" name="Id" value="@t.Id" />

                                    <button type="submit" class="btn btn-danger">
                                        Delete
                                    </button>

                                </form>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">No teachers found</td>
                </tr>
            }
        </tbody>
    </table>

</div>